<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link href="{{ asset('Assets/css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        {% block header %}
        <div id="header">
            <h1 class="titulopagina">SymfoTasks</h1>
            <ul id="menu">
                {% if app.user %}
                    <li class="menuIzquierda" ><a href="{{ path('tareas') }}">Inicio</a></li>
                    <li><a href="">Mis Tareas</a></li>
                    <li class="menuderechalogout"><a href="{{ path('logout') }}">Logout</a></li>
                    <li class="menuderecha"><a href="">{{ app.user.name }}</a></li>
                {% else %}
                    <li class="menuIzquierda"><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('registro') }}">Registro</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div> 
        {% endblock %}
        {% block body %} {% endblock %}

    </body>
</html>
